@model IEnumerable<BanDongHo.Models.Category>
@foreach (var item in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordian" href="#sportswear_@item.Id">
                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                    @item.Name
                </a>
            </h4>
        </div>
        <div id="sportswear_@item.Id" class="panel-collapse collapse">
            <div class="panel-body">
                <ul>
                    <li>@Html.Action("ChildListcategory", "Module", new { @id = item.Id })</li>
                </ul>
            </div>
        </div>
    </div>
}