
@{
    ViewBag.Title = "Giới Thiệu";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<section class="clearfix">
    <div class="container">
        <div class="row">
            <h2 class="mb-2">Chính sách đổi hàng</h2>

            <h5 class="mb-2">Chính sách đổi trả hàng nhằm đảm bảo quyền lợi tối đa cho khách hàng khi mua sắm hàng hóa tại Evo Watch, cụ thể như sau:</h5>

            <h6 class="mb-2">Nhằm đảm bảo quyền lợi người tiêu dùng, nâng cao chất lượng dịch vụ sau bán hàng, Khách hàng được đổi sản phẩm mới cùng loại khi sản phẩm gặp sự cố không thể khắc phục được (do lỗi kỹ thuật của nhà sản xuất). Sản phẩm lỗi chỉ được đổi sau khi đã có xác nhận của kỹ thuật và tuân thủ theo các điều kiện sau đây:</h6>
            <ul>
                <li class="mb-2"> - Sản phẩm mới mua trong vòng 01 ngày kể từ ngày xuất bán. Khách hàng mua trực tuyến, thời gian được tính từ ngày khách nhận được sản phẩm;</li>

                <li class="mb-2"> - Hàng hóa được xác định nguồn gốc mua tại Evo Watch (căn cứ vào hóa đơn mua hàng, phiếu bảo hành và tem nhận diện dán trên sản phẩm);</li>

                <li class="mb-2"> - Hàng hóa được xác nhận bị lỗi kỹ thuật của Kỹ thuật viên của Trung Tâm Bảo Hành của Hãng;</li>

                <li class="mb-2"> - Hàng hóa vẫn còn nguyên tem niêm phong (không bị rách vỡ hoặc dán lại) của nhà sản xuất hoặc tem của Evo Watch, phải còn nguyên vẹn vỏ thùng, xốp và đầy đủ các phụ kiện kèm theo, quà khuyến mại (nếu có)…</li>

                <li class="mb-2"> - Hàng hóa nhận lại không bị lỗi hình thức (trầy xước, móp méo, ố vàng, vỡ …)</li>

                <li class="mb-2"> - Hàng hóa nhận lại phải còn đầy đủ linh kiện.</li>

                <li> - Hàng hóa khi nhận lại phải có đầy đủ các chứng từ kèm theo (Phiếu bảo hành, sách hướng dẫn … )</li>
            </ul>

            <div class="mb-2">Evo Watch sẽ thực hiện đổi hàng cho khách, nhưng không hoàn lại phí vận chuyển/ giao hàng (nếu có), trừ những trường hợp sau:</div>
            <ul>
                <li class="mb-2"> - Không đúng chủng loại, mẫu mã như quý khách đã đặt hàng.</li>

                <li class="mb-2"> - Không đủ số lượng, không đủ bộ/ thông tin như trong đơn hàng ban đầu.</li>

                <li> - Không đạt chất lượng như: quá hạn sử dụng, hết bảo hành, không vận hành được, hỏng hóc khách quan trong phạm vi bảo hành của nhà cung cấp, nhà sản xuất,..</li>
            </ul>
            <div>Trường hợp không chấp nhận đổi hoặc trả sản phẩm:</div>
            <ul>
                <li class="mb-2"> - Quý khách muốn thay đổi mẫu mã, chủng loại sản phẩm;</li>

                <li class="mb-2"> - Lỗi do người sử dụng;</li>

                <li class="mb-2"> - Không chấp nhận các lỗi ngoại quan (xước, móp, méo, vỡ, sứt…) khi khách hàng đã mang sản phẩm ra khỏi cửa hàng Công ty;</li>

                <li class="mb-2"> - Quý khách vận hành không đúng chỉ dẫn, gây hỏng hóc sản phẩm, hàng hóa;</li>

                <li class="mb-2"> - Quý khách tự làm ảnh hưởng tình trạng bên ngoài như  bong tróc, bể vỡ, …;</li>

                <li class="mb-2"> - Quý khách yêu cầu đổi trả hàng hóa vì lý do sai phạm về hình thức (trầy xước, móp méo, ố vàng, bể vỡ,…) mà khi quý khách mua hàng hóa vẫn còn nguyên vẹn.</li>
            </ul>
            <h5 class="mb-2">Chú ý: Khách hàng xem kỹ sản phẩm trước khi mua, sản phẩm đã bán ra không nhập lại. Để đảm bảo cho mọi khách hàng luôn mua được sản phẩm mới.</h5>

            <div class="mb-2">Qui trình xử lý thủ tục đổi trả hàng:</div>

            <p class="mb-2">Khách hàng có thể liên hệ trực tiếp với Trung Tâm Bảo Hành của Hãng hoặc thông qua Phòng Bảo hành của Công ty để thay mặt chuyển hàng hóa đến Hãng để kiểm tra. Sau khi có Giấy Xác Nhận Tình Trạng với nội dung hàng hóa hư hỏng do lỗi kỹ thuật không thể sửa chữa, chấp nhận đổi mới. Việc đổi hàng sẽ được thực hiện theo đúng quy định của Công ty.</p>
        </div>
        <div class="row">
            <h2>Hướng dẫn thanh toán</h2>
        </div>
    </div>
</section>

